body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/elijah-dscpl/data-collector/main/wallpaper.jpg');
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar la imagen para que no se mueva con el scroll */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8); /* Hacer el fondo del contenedor semi-transparente */
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="date"], input[type="number"], textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#repeatedWordsSection {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#repeatedWordsList {
    color: #555;
}

#downloadSection {
    margin-top: 20px;
    text-align: center;
}

#downloadButton {
    background-color: #007bff;
}

#downloadButton:hover {
    background-color: #0056b3;
}
